<p style="background-color: rgb(39, 42, 51);">The up and coming prodigies of Students of Salt gather together to fight it out in Sodium Showdown!</p>
<br>
<p style="background-color: rgb(39, 42, 51);">RULES:</p>
<br>
<p style="background-color: rgb(39, 42, 51);">You MUST be ranked in {{ rank }} in the Students of Salt Discord server (SFV Rank does not actually matter) </p>
<br>
<p style="background-color: rgb(39, 42, 51);">Game Setting: 99 seconds, 2/3 Rounds</p>
<br>
<p style="background-color: rgb(39, 42, 51);">Format: Double Elimination Bracket. 2/3 games until top 8. For the top 8, 3/5 games.</p>
<br>
<p style="background-color: rgb(39, 42, 51);">Players may not use any glitch or bug that prevents the game from being played, including but not limited to bugs causing the game to freeze, reset, remove a character from play zone or similar results.</p>
<br>
<p style="background-color: rgb(39, 42, 51);">Banned Stages: Kanzuki Beach, Flamenco Tavern, Skies of Honor, Field of Fate and Mysterious Cove</p>
<br>
<p style="background-color: rgb(39, 42, 51);">Banned Costumes: See the "Banned Costumes" section of the CPT tournament page. (Story Blanka is allowed though, I like it too much to ban it)</p>
<br>
<p style="background-color: rgb(39, 42, 51);">If a stage or costume prohibited is chosen and/or used during a match, the player must immediately stop the game and start a rematch. If a player continues without stopping the game, the result of the game shall be declared null and void and a rematch shall be held.</p>
<br>
<p style="background-color: rgb(39, 42, 51);">Setup:</p>
<p style="background-color: rgb(39, 42, 51);">The Tournament Organiser will set up a stream Battle Lounge, depending on the amount of players, some or all matches will be played in this lounge, if you are not playing on stream, once a TO calls your match, play it off stream with your opponent and report the results to a TO</p>
<br>
<p style="background-color: rgb(39, 42, 51);">Tournament Match Play Rules:</p>
<br>
<p style="background-color: rgb(39, 42, 51);">Choosing Sides: When both players are in the battle lounge, they must come to an agreement which side of the machine they will play on (who will sit on 1p and who will sit on 2p). If an agreement cannot be reached, players shall follow the instructions provided by the Tournament Organizer.</p>
<br>
<p style="background-color: rgb(39, 42, 51);">Playing the Match: Once sides and characters have been chosen, the players should begin the first Game in the Match. </p>
<p style="background-color: rgb(39, 42, 51);">The following rules go into effect once a Game ends:</p>
<br>
<p style="background-color: rgb(39, 42, 51);">The Match is over when either player wins the required number of games.</p>
<br>
<p style="background-color: rgb(39, 42, 51);">Once a player has won the required number of games, the winner of the Match should report the result to the Tournament Organizer.</p>
<br>
<p style="background-color: rgb(39, 42, 51);">The player who won the last Game is required to keep the same character, however, they can change their V-Trigger and V-Skill as long as their new V-Trigger and V-Skill choice is made before their opponent selects their own V-Trigger and V-Skill.</p>
<br>
<p style="background-color: rgb(39, 42, 51);">The player who lost the last Game is allowed to choose whatever they wish when choosing a character, V-Trigger and V-Skill.</p>